extends ../layout

block navContent
      nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        a.navbar-brand(href='/') Home

        div.collapse.navbar-collapse#navbarsExampleDefault
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link.active(href='/todo/create') Create
block content
  div.container#contain
    h1= title
    p Welcome to #{title}
    if model
      .table-responsive-sm
        table.table.table-hover
          thead
            tr
              th Numero 
              th Nom 
              th Prenom 
          tbody
            each val in model ? model : ['There are no values']
              tr
                  td= val.id
                  td= val.name
                  td=val.lastname